.smallheader {
    font-weight: bold;
    color: #494949;
    margin-right: 5px;
    font-size:16px; 
}

.smallskip {
    margin-bottom: 5px;
}
.midskip {
    margin-bottom: 10px;
}

.leftsmallskip {
    margin-left: 10px;
}
.leftskip {
    margin-left: 20px;
}

.emailaddr {
    text-decoration: underline;
    font-size: 14px;
    font-weight: normal;
}

.pub-author-me {
    font-weight: bold; 
    color: black;
}

.pub-title {
    color: black;
}

.publabel {
    cursor: pointer;
}

span.pubtype-square {
    height: 12px;
    width: 12px;
    display: inline-block;
    margin-right: 5px;
}
.pubtype {
    cursor: pointer; 
}

.pubtype-journal {
    background-color: #D2691E;
}
.pubtype-conference-long {
    background-color: #4F84C4;
}
.pubtype-conference-short {
    background-color: #5484A4;
}

.pubtype-editorship {
    background-color: #DA413D;
}

.pubtype-other {
    background-color: #898E8C;
}
.pubtype-thesis {
    background-color: #223A5E;
}
.pub-special {
    color: #B93A32;
    font-weight: bold;
}
